button,
div,
form,
input {
  margin: 2px;
}

html, body{
  margin:0;
  height:100%;
}

#buttons-view{
  background-color:lightgray;
}

#gifs-here{
  background-color: lightgray;
  width:65%;
  padding:15px;
  float:left;
}

.gifs{
  float:left;
}

#topic-form{
  background-color:lightgray;
  padding:10px;
  float:left;
}